body{
  background-color: rgb(1 43 74);
  color: rgb(220, 239, 255);
}
.card{
  background-color: #408ec9;
}
.card:hover{
  background-color: #9dc0db;
}
.card-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-img-top{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.file-upload:hover{
  color: black;
  cursor: pointer;
}
.img-thumbnail{
  border: none;
  background-color: #474a4b;
}
.post{
  background-color: #00000042;
}
.list-group-item{
  background-color: #00000042;
}
.liked{
  color:#101f2b;
}
.liked:hover{
  color: #012037;
}